.main_bg{
    background:url('https://1.bp.blogspot.com/-qKmCG_pwolo/YVz8EtTGSfI/AAAAAAAAEkA/q-QOJnVW6nYiZOZ_l4GLYS-CqrUU1lYYgCLcBGAsYHQ/s16000/yasuo-huyen-long-kiem.jpg');width: 100vw;height: 100vh;box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.9);background-size: cover;position: absolute;top: 0;image-rendering: optimizeSpeed;
}
video{
    image-rendering: pixelated;
  }
body{
background: black;
}
#tft_card:hover img{
opacity: 0;
visibility: hidden;
}

#tft_card img{
transition-delay: 0.4s;
transition: 0.4s;
width: 100%;
opacity: 1;
}
#tft_card:hover #h2{
transform: translateY(-70px);
opacity: 0;
}
#tft_card #h2{
opacity: 1;
transform: translateY(0px);
transition: 0.4s ;
}
#tft_card button{
height: 25px;
width: 100px;
background: #142030;
border: 1px solid #f5edae;
color:white;
position: relative;
cursor: pointer;
margin-top: 20px; 
transform: translateY(-100px);
opacity: 0;
transition: 0.4s;
}
#tft_card:hover button{
transform: translateY(0px);
opacity: 1;
}

#special_present_card img{
filter: brightness(0.4) blur(2.5px);
transition: 0.8s;
}
#special_present_card:hover img{
filter: brightness(1) blur(0px);
}
#special_present_card #h2{
transition: 0.4s;
opacity: 1;
}
#special_present_card:hover #h2{
transform: scale(1.5);
opacity: 0;
visibility: hidden;
}
#special_present_card button{
width: 100px;
height: 30px;
background: #142030;
border: 1px solid #f5edae;
color:white;
position: relative;
cursor: pointer;
z-index: 1;
opacity: 0;
transform: scale(1.5);
}
#special_present_card:hover button{
opacity: 1;
transition: 0.4s;
transform: scale(1) translateY(-50px);
}
@media only screen and (max-width: 480px){
#cards{
transform: translateX(10%);
}
#top_menu{
overflow-x: scroll ;
overflow-y: hidden;
width: 100vw;
padding: 30px;
}


}